{% extends "layouts/admin.html.twig" %}

{% block admin_content %}
    
    <div class="container">
        <div class="row">
            <h4 class="text-center">Liste des créneaux d'accès au site</h4>

            {% include 'layouts/flash-messages.html.twig' %}

            <div class="align-content-end mt-5 mb-2">
                <a href="{{ path('add_define_dates') }}">
                <button class="btn btn-sm btn-success " type="button"> <i class="fas fa-plus"></i> Ajouter un créneau</button>
            </a>
            </div>
            <table class="table caption-top">
                <thead>
                    <tr>
                        <th scope="col">n°</th>
                        <th scope="col">Date de debut</th>
                        <th scope="col">Date de fin</th>
                        <th scope="col">Droits</th>
                        <th scope="col">Motif</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dateTime in allDate %}
                        
                        <tr>
                            <th scope="row"> {{ dateTime.idDSout }} </th>
                            <td> {{ dateTime.dateDebut|date('d/m/Y') }} à {{ dateTime.dateDebut|date('H:i:s') }} </td>
                            <td> {{ dateTime.dateFin|date('d/m/Y') }} à {{ dateTime.dateFin|date('H:i:s') }} </td>
                            <td>@Tous</td>
                            <td> {{ dateTime.motif }} </td>
                            <td>
                                <a href="{{ path('edit_define_dates', { id: dateTime.idDSout }) }}">
                                    <button class="btn btn-sm btn-primary">
                                        <i class="fas fa-edit"></i>
                                    </button>
                                </a>
                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteDateTime{{ dateTime.idDSout }}">
                                    <i class="fas fa-trash"></i>
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="deleteDateTime{{ dateTime.idDSout }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            En poursuivant, vous <b class="text-danger">refuser</b> l'accès à la plateforme :
                                            <br> à : <b>@Tous</b>
                                            <br> du : <b>{{ dateTime.dateDebut|date('d/m/Y') }} à {{ dateTime.dateDebut|date('H:i') }}</b> au <b>{{ dateTime.dateFin|date('d/m/Y') }} à {{ dateTime.dateFin|date('H:i') }}</b>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                            <button type="button" class="btn btn-danger">Oui, continuer</button>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    {# <tr>
                        <th scope="row">2</th>
                        <td> 18/06/2020 à 00h01 </td>
                        <td> 18/06/2020 à 23h59 </td>
                        <td>@Evaluateur</td>
                        <td>Soutenance</td>
                        <td>
                            <button class="btn btn-sm btn-primary">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                <i class="fas fa-trash"></i>
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Attention</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        En poursuivant, vous <b class="text-danger">refuser</b> l'accès à la plateforme :
                                        <br> à : <b>@Evaluateur</b>
                                        <br> du : <b>18/06/2021 à 00h01</b> au <b>18/06/2021 à 23h59</b>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                        <button type="button" class="btn btn-danger">Oui, continuer</button>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr> #}
                
                </tbody>
            </table>
            

        </div>

        {# <hr>
        <div class="row mt-5">
            <div class="col-md-6">
                <h4>Date de début</h4>
                <input class="form-control" type="date" name="" id=""> 
                <input class="form-control mt-2" type="time" name="" id="">
            </div>
            <div class="col-md-6">
                <h4>Date de fin</h4>
                <input class="form-control" type="date" name="" id=""> 
                <input class="form-control mt-2" type="time" name="" id="">
            </div>
        </div>

        <div class="row mt-5">
            <h4>Roles</h4>
            <div class="col-md-5">
                <select class="form-select" aria-label="test">
                    <option selected>Selectionner</option>
                    <option value="['ROLE_ADMIN',['ROLE_ADMIN','ROLE_EVALUATOR']]">@Tous</option>
                    <option value="['ROLE_ADMIN']">@Admin</option>
                    <option value="['ROLE_EVALUATOR']">@EValuateur</option>
                </select>
            </div>
        </div>

            <button class="btn btn-success mt-4" type="submit"> <i class="fas fa-plus"></i> Ajouter</button> </th>
        <div class="row mt-4">
            
        </div> #}

        
    
    </div>

{% endblock %}