{% extends "layouts/admin.html.twig" %}

{% block admin_content %}

<div class="mx-5 mb-5">
    <p><i style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupe.numero }} / {{ groupe.idProjet.titre }}</i></p>
    <a class="btn btn-primary btn-sm" style="float: right;" href="{{ path('group_list') }}" role="button">Liste des groupes</a></p>
</div>

    <section class="mx-5">
        <h1 class="text-center my-4 fs-2">Evaluation du groupe</h1>

        <div class="table-responsive size_tab">
            <table class="table table-hover w-50 m-auto">
                <thead>
                    <tr class="text-center">
                        <th class="criteres">Critères</th>
                        <th>Soutenance</th>
                        <th>Poster</th>
                    </tr>
                </thead>

                <tbody>
                    <tr  class="text-center">
                        <td>Moyenne</td>
                        <td class="valeur">{{ moySout[0]["moySoutenance"] }}</td>
                        <td class="valeur">{{ moyPost[0]["moyPoster"] }}</td>
                    </tr>
                    <tr class="text-center">
                        <td></td>
                        <td class="valeur">
                            <a href="{{ path('list_notes_eval', {groupId: groupe.id, typeEval: "soutenance"}) }}"  type="button" class="btn btn-primary">Détails</a>
                        </td>
                        <td class="valeur">
                            <a href="{{ path('list_notes_eval', {groupId: groupe.id, typeEval: "poster"}) }}"  type="button" class="btn btn-primary">Détails</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <section class="mx-5">
        <h1 class="text-center my-4 fs-2">Evaluation individuelle</h1>
        <div class="table-responsive">
            <table class="table table-hover">  
                <thead>
                    <tr>
                        <th scope="col" class="align-middle text-center">
                            {% for eval in groupe.idProjet.idEval %}
                                {{ eval.nom }} {{eval.prenom}} 
                            {% endfor %}
                        </th>
                        <th scope="col" class="align-middle text-center">Qualité du rapport </br> <span class="font-weight-normal">/20 points. coeff. 1</span></th>
                        <th scope="col" class="align-middle text-center">Travail réalisé. Etat </br> d'avancement du projet </br> <span class="font-weight-normal">/20 points. coeff. 1</span></th>
                        <th scope="col" class="align-middle text-center">Utilisation de </br> compétences nouvelles </br> <span class="font-weight-normal">/20 points. coeff. 1</span></th>
                        <th scope="col" class="align-middle text-center">Moyenne</th>
                    </tr>
                </thead>

                <tbody>
                    {% for etudiant in etudiants %}
                    <tr>
                        <td class="eval_name">{{ etudiant.idUser.nom }} {{ etudiant.idUser.prenom }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteTutRapport }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteTutTrav }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteTutCompet }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteFinale }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <a href="{{ path('group_notes_indiv', {groupId: groupe.id}) }}"><button type="button" class="btn btn-primary mr-5" style="float:right">Modifier</button></a>
        </div>
    </section>

<div class="text-center mx-5 mt-3">
   <button class="btn btn-outline-primary" style="width: 20%;"><i class="far fa-file-pdf"></i>  Télécharger</button>
</div>
{% endblock %}