{% extends "layouts/admin.html.twig" %}

{% block admin_content %}

<div class="mx-5 mb-5">
    <p><i style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupe.numero }} / {{ groupe.idProjet.titre }}</i></p>
    <a class="btn btn-primary btn-sm" style="float: right;" href="{{ path('group_list') }}" role="button">Liste des groupes</a></p>
</div>

    <section class="mx-5">
        <h1 class="text-center my-4 fs-2">Evaluation du groupe</h1>

        <div class="table-responsive size_tab">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="criteres">Critères</th>
                        <th>Soutenance</th>
                        <th>Poster</th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td>Qualité du rapport </br> <span>/20 points. coeff. 1</span></td>
                        <td class="valeur">
                        {# {{ notes_sout['sout_qual_pres'] }} #}
                            {# <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_competences_{{ groupe.numero }}"
                            value="{{ notes['sout_qual_pres'] }}" onchange="moyenne({{ groupe.numero }})" name="eval_notation[qualPres]"  required></input>
                            {% do formNotation.qualPres.setRendered %} #}
                        </td>
                        <td class="valeur">
                            {# <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_competences_{{ groupe.numero }}"
                            value="{{ notes['sout_qual_pres'] }}" onchange="moyenne({{ groupe.numero }})" name="eval_notation[qualPres]"  required></input>
                            {% do formNotation.qualPres.setRendered %} #}
                        </td>
                    </tr>

                    <tr>
                        <td>Travail réalisé. Etat d'avancement du projet </br> <span>/20 points. coeff. 2</span></td>
                        <td class="valeur">
                            {# <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_travail_{{ groupe.numero }}"
                            value="{{ notes['sout_trav'] }}" onchange="moyenne({{ groupe.numero }})" name="eval_notation[trav]" required></input>
                            {% do formNotation.trav.setRendered %} #}
                        </td>
                        <td class="valeur">
                            {# <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_travail_{{ groupe.numero }}"
                            value="{{ notes['sout_trav'] }}" onchange="moyenne({{ groupe.numero }})" name="eval_notation[trav]" required></input>
                            {% do formNotation.trav.setRendered %} #}
                        </td>
                    </tr>

                    <tr>
                        <td>Utilisation de compétences nouvelles </br> <span>/20 points. coeff. 2</span></td>
                        <td class="valeur">
                            {# <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_competences_{{ groupe.numero }}"
                            value="{{ notes['sout_compet'] }}" onchange="moyenne({{ groupe.numero }})" name="eval_notation[compet]" required></input>
                            {% do formNotation.compet.setRendered %} #}
                        </td>
                        <td class="valeur">
                            {# <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_competences_{{ groupe.numero }}"
                            value="{{ notes['sout_compet'] }}" onchange="moyenne({{ groupe.numero }})" name="eval_notation[compet]" required></input>
                            {% do formNotation.compet.setRendered %} #}
                        </td>
                    </tr>

                    <tr>
                        <td>Moyenne</td>
                        <td class="valeur">
                            {# <input id="note_moyenne_{{ groupe.numero }}" type="text" class="form control form-control-sm"
                            value="{{ notes['sout_moyenne'] }}"  name="eval_notation[moyenne]"  ></input>
                            {% do formNotation.moyenne.setRendered %} #}
                        </td>
                        <td class="valeur">
                            {# <input id="note_moyenne_{{ groupe.numero }}" type="text" class="form control form-control-sm"
                            value="{{ notes['sout_moyenne'] }}"  name="eval_notation[moyenne]"  ></input>
                            {% do formNotation.moyenne.setRendered %} #}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="btn-group-vertical w-25 mr-5" style="float:right">
                <button class="btn btn-primary">Mettre à jour</button>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{{ path('list_notes_eval', {groupId: groupe.id, typeEval: "soutenance"}) }}"  type="button" class="btn btn-outline-primary">Soutenance</a>
                    <a href="{{ path('list_notes_eval', {groupId: groupe.id, typeEval: "poster"}) }}"  type="button" class="btn btn-outline-primary">Poster</a>
                </div>
            </div>
        </div>
    </section>

    <section class="mx-5">
        <h1 class="text-center my-4 fs-2">Evaluation individuelle</h1>
        <div class="table-responsive">
            <table class="table table-hover">  
            {% include "layouts/notation/admin/array/theader.html.twig" %}

                <tbody>
                    {% for etudiant in etudiants %}
                    <tr>
                        <td class="eval_name">{{ etudiant.idUser.nom }} {{ etudiant.idUser.prenom }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteTutRapport }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteTutTrav }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteTutCompet }}</td>
                        <td class="eval_input align-middle text-center">{{ etudiant.noteFinale }}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <a href="{{ path('group_notes_indiv', {groupId: groupe.id}) }}"><button type="button" class="btn btn-primary mr-5" style="float:right">Modifier</button></a>
        </div>
    </section>

<div class="text-center mx-5 mt-3">
   <button class="btn btn-outline-primary" style="width: 20%;"><i class="far fa-file-pdf"></i>  Télécharger</button>
</div>
{% endblock %}