{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/Jury.css') }}" rel="stylesheet">
{% endblock %}


{% block admin_content %}


    <h1 class="text-center my-4"> Edition des Groupes </h1>

    <!-- .page-navs -->
    <nav class="page-navs mb-4">
        <!-- .nav-scroller -->
        <div class="row nav-scroller">
            <!-- .nav -->
            <div class="nav nav-center nav-tabs offset-md-1 col-md-10" id="nav-tabs" role="tablist">
                <a href="#nav-GroupA" class="nav-link active" id="nav-A-tab" data-toggle="tab" role="tab" aria-controls="nav-list" aria-selected="true">Groupe A</a>
                <a href="#nav-GroupB" class="nav-link" id="nav-B-tab" data-toggle="tab" role="tab" aria-controls="nav-addform" aria-selected="false">Groupe B</a>
            </div>
            <!-- /.nav -->
        </div>
        <!-- /.nav-scroller -->
    </nav>

    <div class="row tab-content justify-content-center" id="nav-tabContent">

        <!-- Onglet Matin -->

        <div class="col-md-10 tab-pane fade show active" id="nav-GroupA" role="tabpanel" aria-labelledby="nav-A-tab">
            <!-- Première partie avec 2 tableaux -->

            <table id="matin_A" style="width: 45%; display: inline-table; margin-right: 10%" class="table table-bordered ">
                <caption style="caption-side: top; color: black; text-align: center; border: solid black 2px"><b>Jurys de soutenances <br> Amphi A</b></caption>

                <!-- Button Modifier -->
                <caption style="text-align: center"> <button type="button" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-primary btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border-left: solid black 2px; text-align: center" scope="col">8:00-11:45</th>
                    <th style="width: 40%; border-right: solid black 2px; border-left: solid black 2px; text-align: center" scope="col" colspan="2">Groupes à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>

            </table>
            <table style="width: 45%; display: inline-table" class="table table-bordered ">
                <caption style="caption-side: top; color: black; text-align: center; border: solid black 2px"><b>Jurys d'évaluation des posters <br> Couloir du 3ème étage, bâtiment A</b></caption>

                <!-- Button Modifier -->
                <caption style="text-align: center"> <button type="button" class="btn btn-primary btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border-left: solid black 2px; text-align: center" scope="col">8:15-12:00</th>
                    <th style="width: 40%; border-right: solid black 2px; border-left: solid black 2px; text-align: center" scope="col" colspan="2">Posters à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>


            </table>
<!-- Deuxième série de 2 tableaux -->
            <table id="aprem_A" style="width: 45%; display: inline-table; margin-right: 10%" class="table table-bordered mt-5">

                <!-- Button Modifier -->
                <caption style="text-align: center"> <button type="button" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-primary btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border: solid black 2px; text-align: center" scope="col">13:30-18:00</th>
                    <th style="width: 40%; border: solid black 2px; text-align: center" scope="col" colspan="2">Groupes à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>

            </table><table style="width: 45%; display: inline-table" class="table table-bordered mt-5">

                <!-- Button Modifier -->
                <caption style="text-align: center"> <button type="button"  class="btn btn-primary btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border: solid black 2px; text-align: center" scope="col">13:50-18:00</th>
                    <th style="width: 40%; border: solid black 2px; text-align: center" scope="col" colspan="2">Posters à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>

            </table>

        </div>





        <!-- Onglet Après-midi -->

        <div class="col-md-10 tab-pane fade " id="nav-GroupB" role="tabpanel" aria-labelledby="nav-B-tab">
            <!-- Première partie avec 2 tableaux -->

            <table id="matin_B" style="width: 45%; display: inline-table; margin-right: 10%" class="table table-bordered ">
                <caption style="caption-side: top; color: black; text-align: center; border: solid black 2px"><b>Jurys de soutenances <br> Amphi A</b></caption>

                <!-- Button Modifier -->
                <caption style="text-align: center"><button type="button" class="btn btn-primary btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border-left: solid black 2px; text-align: center" scope="col">8:00-11:45</th>
                    <th style="width: 40%; border-right: solid black 2px; border-left: solid black 2px; text-align: center" scope="col" colspan="2">Groupes à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>

            </table><table style="width: 45%; display: inline-table" class="table table-bordered ">
                <caption style="caption-side: top; color: black; text-align: center; border: solid black 2px"><b>Jurys d'évaluation des posters <br> Couloir du 3ème étage, bâtiment A</b></caption>

                <!-- Button Modifier -->
                <caption style="text-align: center"><button type="button" class="btn btn-primary btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border-left: solid black 2px; text-align: center" scope="col">8:15-12:00</th>
                    <th style="width: 40%; border-right: solid black 2px; border-left: solid black 2px; text-align: center" scope="col" colspan="2">Posters à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>

                <!-- Deuxième série de 2 tableaux -->

            </table>

            <table id="aprem_B" style="width: 45%; display: inline-table; margin-right: 10%" class="table table-bordered mt-5">

                <!-- Button Modifier -->
                <caption style="text-align: center"><button type="button" data-bs-toggle="modal" data-bs-target="#modal" class="btn btn-primary btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border: solid black 2px; text-align: center" scope="col">13:30-18:00</th>
                    <th style="width: 40%; border: solid black 2px; text-align: center" scope="col" colspan="2">Groupes à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>

            </table><table style="width: 45%; display: inline-table" class="table table-bordered mt-5">

                <!-- Button Modifier -->
                <caption style="text-align: center"><button type="button" class="btn btn-primary  btn-modal">Modifier</button></caption>
                <thead>
                <tr>
                    <th style="width: 20%; border: solid black 2px; text-align: center" scope="col">13:50-18:00</th>
                    <th style="width: 40%; border: solid black 2px; text-align: center" scope="col" colspan="2">Posters à évaluer <br> 1-6-9-2</th>
                </tr>
                </thead>
                <tbody>


                </tbody>

            </table>

        </div>
    </div>


    <!-- Modal -->
       <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
           <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLabel">Choix de l'évaluateur à ajouter</h5>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body" style="overflow:min-height: 400px;">
                       <div class="input-group mb-3">
                           <input type="text" class="form-control" placeholder="Nom de l'évaluateur" aria-label="Username" aria-describedby="basic-addon1">
                       </div>
                            <div class="table-div" style="overflow: scroll; max-height: 400px;">
                                <table class="table table-bordered">
                                    <caption style="caption-side: top">Evaluateur sélectionné :</caption>
                                    <tbody style="overflow: scroll;">
                                    {% for projet in projets %}
                                        {% for user in users %}
                                            {% if user.idUser == projet.idEval[0].idUser %}
                                                <tr class="row-set" id="{{projet.id}}-{{user.idUser}}" data-dest="" onclick="addtolist(this.id)">
                                                    <td style="border-bottom: solid white 1px; border-left: solid white 1px; width: 0;">{{projet.numProjet}} <p style="display:none;"> {{projet.titre}} </p></td>
                                                    <td style="width: 35%"> {{ user.nom }} </td>
                                                    <td style="width: 40%">{{ user.prenom }}</td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                   </div>
                   <div class="modal-footer mt-5">
                       <button type="button" class="btn btn-primary">Ajouter</button>
                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                   </div>
               </div>
           </div>
       </div>


<script src="{{ asset('js/groupsAB.js') }}"></script>
{% endblock %}

