{% extends "layouts/eval.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/note.css') }}" rel="stylesheet">
{% endblock %}

{% block eval_content %}
{# modal btn retour #}
{# <div class="modal fade" id="retourGroupe" tabindex="-1" aria-labelledby="retourGroupeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Retour sélection du groupe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Les notes non enregistrées seront <b>perdues</b> si vous quitter cette page.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <a href="{{ path('eval_showNoteGroupIndiv') }}"  type="button" class="btn btn-primary">Continuer</a>
        </div>
        </div>
    </div>
</div> #}
{# fin modal #}

{# modal btn retour #}
<div class="modal fade" id="retourGroupe" tabindex="-1" aria-labelledby="retourGroupeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Retour sélection du groupe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Les notes non enregistrées seront <b>perdues</b> si vous quitter cette page.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <a href="{{ path('eval_showNoteGroupSout') }}"  type="button" class="btn btn-primary">Continuer</a>
        </div>
        </div>
    </div>
</div>
{# fin modal #}

<div class="vue_content">    
{% include "layouts/notation/user/header.html.twig" %}
    <h1 class="text-center my-sm-0 my-lg-5">Evaluation individuelle</h1>

    {% include 'layouts/flash-messages.html.twig' %}

    <form method="POST">
        <div class="table-responsive">
            <table id="idTable" class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col" class="eval_title align-middle">Nom de l'étudiant</th>
                        <th scope="col" class="eval_title align-middle">Qualité du rapport </br> <span>/20 points. coeff. 1</span></th>
                        <th scope="col" class="eval_title align-middle">Travail réalisé. Etat d'avancement du projet </br> <span>/20 points. coeff. 2</span></th>
                        <th scope="col" class="eval_title align-middle">Utilisation de compétences nouvelles </br> <span>/20 points. coeff. 2</span></th>
                        <th scope="col" class="eval_title align-middle">Pourcentage travail réalisé</th>
                        <th scope="col" class="eval_title align-middle">Moyenne</th>
                    </tr>
                </thead>
                
                <tbody>
                {% set i = 0 %}
                {% for etudiant in etudiants %}
                    {% set i = i + 1 %}
                    <tr>
                        <td class="eval_name">{{ etudiant.idUser.nom }} {{ etudiant.idUser.prenom }}</td>

                        
                        <td class="eval_input align-middle">
                            <input onchange="moyenne({{ etudiant.idEtud }})" onkeyup="moyenne({{ etudiant.idEtud }})" value="{{ etudiant.noteTutRapport }}" type="number" min="0" max="20" size="2" step="0.5"
                                    id="note_rapport_{{ etudiant.idEtud }}" name="noteTutRapport{{ etudiant.idEtud }}" class="form-control form-control-sm" required></input>
                        </td>
                        
                        <td class="eval_input align-middle">
                            <input onchange="moyenne({{ etudiant.idEtud }})" onkeyup="moyenne({{ etudiant.idEtud }})" value="{{ etudiant.noteTutTrav }}" type="number" min="0" max="20" size="2" step="0.5" 
                                   id="note_travail_{{ etudiant.idEtud }}" name="noteTutTrav{{ etudiant.idEtud }}" class="form-control form-control-sm" required></input>
                        </td>
                        
                        <td class="eval_input align-middle">
                            <input onchange="moyenne({{ etudiant.idEtud }})" onkeyup="moyenne({{ etudiant.idEtud }})" value="{{ etudiant.noteTutCompet }}" type="number" min="0" max="20" size="2" step="0.5"
                                   id="note_competences_{{ etudiant.idEtud }}" name="noteTutCompet{{ etudiant.idEtud }}" class="form-control form-control-sm" required></input>
                        </td>
                        
                        <td class="eval_input align-middle">
                            <input onchange="pourcentage()" onkeyup="pourcentage()" value="{{ etudiant.pourcentTravail }}"  type="number" min="0" max="100" size="2"
                                   id="note_pourcentage_{{ i }}" name="pourcentTravail{{ etudiant.idEtud }}" class="form-control form-control-sm" required></input>
                        </td>
                        
                        <td class="eval_input align-middle">
                            <input type="text" name="noteTut20{{ etudiant.idEtud }}" class="form-control form-control-sm"
                                   id="note_moyenne_{{ etudiant.idEtud }}" value="{{ etudiant.noteTut20 }}" style="text-align:center;" readonly>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                    <td class="text-center"> Total </td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td id="pourcent_nb" class="text-center fs-6"></td>
                    <td></td>
                    </tr>
                    
                </tbody>
            </table>

            <div class="d-flex justify-content-between w-75 mx-auto bouton">
                <div>
                    <button id="send" class="btn btn-success" type="submit">Enregistrer</button>
                    
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/indiv_moy.js') }}"></script>
{% endblock %}