{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/note.css') }}" rel="stylesheet">
{% endblock %}


{% block admin_content %}
{# modal btn retour #}
<div class="modal fade" id="retourGroupe" tabindex="-1" aria-labelledby="retourGroupeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Retour sélection du groupe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Les notes non enregistrées seront <b>perdues</b> si vous quitter cette page.
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <a href="{{ path('list_notes_eval', {groupId: groupe.id, typeEval: "soutenance"}) }}"  type="button" class="btn btn-primary">Continuer</a>
        </div>
        </div>
    </div>
</div>
{# fin modal #}

<div class="vue_content">        
    {% include "layouts/notation/user/header.html.twig" %}
    
    <h4 class="text-center mt-5">Evaluation de la soutenance</h4>
    <h6> Nom de l'évaluateur : {{ eval.nom }} {{ eval.prenom }} </h6>

    {% include 'layouts/flash-messages.html.twig' %}

    {{ form_start(formNotation) }}
        <div class="table-responsive size_tab">
            <table class="table table-hover">
                {% include 'layouts/notation/array/theader_group.html.twig' %}
                
                <tbody>
                    <tr>
                        <td>Qualité de la présentation </br> <span>/20 points. coeff. 1</span></td>
                        <td class="valeur">
                            <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_rapport_{{ groupe.id }}"
                            value="{{ notes['sout_qual_pres'] }}" onchange="moyenne({{ groupe.id }})" onkeyup="moyenne({{ groupe.numero }})" name="eval_notation[qualPres]"  required></input>
                            {% do formNotation.qualPres.setRendered %}
                        </td>
                    </tr>

                    <tr>
                        <td>Travail réalisé. Etat d'avancement du projet </br> <span>/20 points. coeff. 2</span></td>
                        <td class="valeur">
                            <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_travail_{{ groupe.id }}"
                            value="{{ notes['sout_trav'] }}" onchange="moyenne({{ groupe.id }})" onkeyup="moyenne({{ groupe.numero }})" name="eval_notation[trav]" required></input>
                            {% do formNotation.trav.setRendered %}
                        </td>
                    </tr>

                    <tr>
                        <td>Utilisation de compétences nouvelles </br> <span>/20 points. coeff. 2</span></td>
                        <td class="valeur">
                            <input type="number" min="0" max="20" size="2" step="0.5" class="form-control form-control-sm" id="note_competences_{{ groupe.id }}"
                            value="{{ notes['sout_compet'] }}" onchange="moyenne({{ groupe.id }})" onkeyup="moyenne({{ groupe.numero }})" name="eval_notation[compet]" required></input>
                            {% do formNotation.compet.setRendered %}
                        </td>
                    </tr>

                    <tr>
                        <td>Moyenne</td>
                        <td class="valeur">
                            <input id="note_moyenne_{{ groupe.id }}" type="text" class="form control form-control-sm"
                            value="{{ notes['sout_moyenne'] }}"  name="eval_notation[moyenne]" readonly></input>
                            {% do formNotation.moyenne.setRendered %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <button class="btn btn-success" type="submit">Mettre à jour</button>
        </div>
    {{ form_end(formNotation) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/indiv_moy.js') }}"></script>
{% endblock %}