{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/evaluator_note.css') }}" rel="stylesheet">
{% endblock %}

{% block admin_content %}

{# Liens #}
<div class="page-navs mb-5" style="margin-left: 35%;">
    <div class="text-center">
        <div class="nav nav-center nav-tabs" id="nav-tabs" role="tablist">
            <a class="nav-link active mr-5 fs-6" href="#list-sout" data-toggle="tab" role="tab" aria-controls="list-sout" aria-selected="true">Evaluation soutenance</a>
            <a class="nav-link fs-6" href="#list-profil"  data-toggle="tab" role="tab" aria-controls="list-profil" aria-selected="false">Evaluation poster</a>
        </div>
    </div>
</div>

<h3 class="text-center my-4">Liste des projets</h3>



<div class="tab-content">
    <div class="row tab-pane fade" id="list-sout" role="tabpanel" aria-labelledby="list-sout">
        {% for id in 1..2 %}
            {# <div class="col-md-4"> #}
                    <div class="col-md-4 m-3 p-3 cont_soutenance">
                        <h1 class="fs-4">Titre du projet Titre du TESTprojet</h1>
                        <h2 class="font-italic fs-6">Nom de l'encadrant</h2>
                        <h2 class="font-italic fs-6">Groupe n째 {{ id }}</h2>
                        <div class="text-center">
                            <a href="{{ path('eval_group_notes_sout', {groupId: id}) }}"><button type="button" class="btn btn-success">Evaluer</button></a>
                        </div>
                    </div>
                
            {# </div> #}
        {% endfor %}
    </div>

    {# Vue eval soutenance #}
    {# <div class="tab-pane fade show active" id="list-sout" role="tabpanel" aria-labelledby="list-sout">
        {% for id in 0..5 %}
            <div class="container d-flex">
                    <div class="m-3 p-3 cont_soutenance">
                        <h1 class="fs-4">Titre du projet Titre du projet</h1>
                        <h2 class="font-italic fs-6">Nom de l'encadrant</h2>
                        <h2 class="font-italic fs-6">Groupe n째 {{ id }}</h2>
                        <div class="text-center">
                            <a href="{{ path('group_notes_sout', {groupId: id}) }}"><button type="button" class="btn btn-success">Evaluer</button></a>
                        </div>
                    </div>
                </br>
            </div>
        {% endfor %}
    </div> #}

    {# Vue eval poster #}
    <div class="row tab-pane fade show active" id="list-profil" role="tabpanel" aria-labelledby="list-profil-list">
        {% for id in 0..5 %}
            <div class="col-md-4">
               
                    <div class="m-3 p-3 cont_poster">
                        <h1 class="fs-4">Titre du projet Titre du projet</h1>
                        <h2 class="font-italic fs-6">Nom de l'encadrant</h2>
                        <h2 class="font-italic fs-6">Groupe n째 {{ id }}</h2>
                        <div class="text-center">
                            <a href="{{ path('eval_group_notes_poster', {groupId: id}) }}"><button type="button" class="btn btn-success">Evaluer</button></a>
                        </div>
                    </div>
                
                </br>
            </div>
        {% endfor %}
    </div>
    {# <div class="tab-pane fade" id="list-profil" role="tabpanel" aria-labelledby="list-profil-list">
        {% for id_1 in 0..5 %}
            <div class="container d-flex">
                {% for id_2 in 0..3 %}
                    {% set id = 1 + (id_1 * 4) + (id_2 % 4) %}
                    <div class="m-3 p-3 cont_poster">
                        <h1 class="fs-4">Titre du projet Titre du projet</h1>
                        <h2 class="font-italic fs-6">Nom de l'encadrant</h2>
                        <h2 class="font-italic fs-6">Groupe n째 {{ id }}</h2>
                        <div class="text-center">
                            <a href="{{ path('group_notes_poster', {groupId: id}) }}"><button type="button" class="btn btn-success">Evaluer</button></a>
                        </div>
                    </div>
                {% endfor %}
                </br>
            </div>
        {% endfor %}
    </div> #}
</div>

{% endblock %}