{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/note.css') }}" rel="stylesheet">
{% endblock %}


{% block admin_content %}

<div class="vue_content">        
    <p class="mb-3"> <span style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupe.numero }} / {{ groupe.idProjet.titre }}</span></p>
    <h1 class="text-center">Evaluation du poster</h1>

    <form>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th class="criteres">Critères</th>
                        <th>Notes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Qualité du rapport </br> <span>/20 points. coeff. 1</span></td>
                        <td class="valeur"><input onchange="moyenne({{ groupId }})" class="form-control form-control-sm" id="note_rapport_{{ groupId }}" type="number" min="0" max="20" size="2" step="0.5" required></input></td>
                    <tr>
                    <tr>
                        <td>Travail réalisé. Etat d'avancement du projet </br> <span>/20 points. coeff. 2</span></td>
                        <td class="valeur"><input onchange="moyenne({{ groupId }})" class="form-control form-control-sm" id="note_travail_{{ groupId }}" type="number" min="0" max="20" size="2" step="0.5" required></input></td>
                    <tr>
                    <tr>
                        <td>Utilisation de compétences nouvelles </br> <span>/20 points. coeff. 2</span></td>
                        <td class="valeur"><input onchange="moyenne({{ groupId }})" class="form-control form-control-sm" id="note_competences_{{ groupId }}" type="number" min="0" max="20" size="2" step="0.5" required></input></td>
                    <tr>
                    <tr>
                        <td>Moyenne</td>
                        <td id="note_moyenne_{{ groupId }}" class="valeur"></td>
                    <tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between w-75 mx-auto bouton">
                <a href="{{ path('eval_group_list') }}"><button type="button" class="btn btn-danger">Retour</button></a>
                <button class="btn btn-success" type="submit">Valider</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/indiv_moy.js') }}"></script>
{% endblock %}