{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/notation.css') }}" rel="stylesheet">
{% endblock %}


{% block admin_content %}

<div class="m-sm-0 m-md-2 m-lg-4">        
    <p class="mb-3"> <span style="border-bottom: solid 1px #346cb0;" class="pb-1">Groupe n° {{ groupId }} : Nom_du_projet</span></p>
    <h1 class="text-center my-sm-0 my-lg-5">Evaluation de la soutenance</h1>

    <form>
        <div class="table-responsive">
            <table class="table table-hover my-sm-0 my-lg-4">
                <thead>
                    <tr>
                        <th scope="col" class="align-middle text-center">Nom de l'étudiant</td>
                        <th scope="col" class="align-middle text-center" style="width:16%">Qualité du rapport </br> <span class="font-weight-normal">/20 points. coeff. 1</span></td>
                        <th scope="col" class="align-middle text-center" style="width:16%">Travail réalisé. Etat </br> d'avancement du projet </br> <span class="font-weight-normal">/20 points. coeff. 2</span></td>
                        <th scope="col" class="align-middle text-center" style="width:16%">Utilisation de </br> compétences nouvelles </br> <span class="font-weight-normal">/20 points. coeff. 2</span></td>
                        <th scope="col" class="align-middle text-center" style="width:16%">% de travail réalisé</td>
                        <th scope="col" class="align-middle text-center" style="width:16%">Moyenne</td>
                    </tr>
                </thead>

                <tbody>
                    {% for id in 0..3 %} {# nb_etudiants #}
                    <tr>
                        <td class="text-center">Nom . prénom</td>
                        <td><input onchange="moyenne({{ id }})" class="form-control form-control-sm" style="text-align:center;" id="notes_rapport_{{ id }}" type="number" min="0" max="20" size="2" step="0.5" required></input></td>
                        <td><input onchange="moyenne({{ id }})" class="form-control form-control-sm" style="text-align:center;" id="notes_travail_{{ id }}" type="number" min="0" max="20" size="2" step="0.5" required></input></td>
                        <td><input onchange="moyenne({{ id }})" class="form-control form-control-sm" style="text-align:center;" id="notes_competences_{{ id }}" type="number" min="0" max="20" size="2" step="0.5" required></input></td>
                        <td><input onchange="moyenne({{ id }})" class="form-control form-control-sm" style="text-align:center;" id="notes_pourcentage_{{ id }}" type="number" min="0" max="100" size="2" required></input></td>
                        <td id="moyenne_{{ id }}" style="text-align:center; vertical-align: middle;"></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="mx-4 text-right">
                <a href="{{ path('eval_group_list') }}"><button type="button" class="btn btn-danger btn-sm mr-3">Annuler</button></a>
            <button class="btn btn-success btn-sm" type="submit">Valider</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/moyenne.js') }}">
{% endblock %}