{% extends "layouts/admin.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('assets/css/evaluator.css') }}" rel="stylesheet">
{% endblock %}

{% block admin_content %}
    <!-- .page-navs -->
                  <nav class="page-navs mb-4">
                     <!-- .nav-scroller -->
                     <div class="row nav-scroller">
                        <!-- .nav -->
                        <div class="nav nav-tabs offset-md-1 col-md-10" id="nav-tabs" role="tablist">
                           <a href="#nav-current-year" class="nav-link active" id="nav-current-year-tab" data-toggle="tab" role="tab" aria-controls="nav-current-year" aria-selected="true">Année en cours</a>
                           <a href="#nav-list" class="nav-link" id="nav-list-tab" data-toggle="tab" role="tab" aria-controls="nav-list" aria-selected="true">Liste complète</a>
                           <a href="#nav-addform" class="nav-link" id="nav-addform-tab" data-toggle="tab" role="tab" aria-controls="nav-addform" aria-selected="false">Ajouter un évaluateur</a>
                        </div>
                        <!-- /.nav -->
                     </div>
                     <!-- /.nav-scroller -->
                  </nav>
                  <!-- /.page-navs -->
                  <!-- tab-content -->
                  <div class="row tab-content justify-content-center" id="nav-tabContent">
                     <!-- .tabe-pane -->
                     <div class="col-md-10 tab-pane fade show active" id="nav-current-year" role="tabpanel" aria-labelledby="nav-list-tab">
                        <!-- .card -->
                        <div class="card card-fluid">
                           <!-- .card-header -->
                           <div class="card-header">
                              Evaluateurs de l'année en cours
                           </div>
                           <!-- /.card-header -->
                           <!-- .card-body -->
                           <div class="card-body">
                              <!-- form-group -->
                              <div class="form-group">
                                 <!-- .input-group -->
                                 <div class="input-group has-clearable">
                                    <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times-circle"></i></span></button>
                                    <div class="input-group-prepend">
                                       <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </div>
                                    <input id="table-search" type="text" class="form-control" placeholder="Recherche">
                                 </div>
                                 <!-- /.input-group -->
                              </div>
                              <!-- /.form-group -->
                              <!-- .table-responsive -->
                              <div class="table-responsive">
                                 <!-- .table -->
                                 <table id="current-eval" class="table">
                                    <!-- thead -->
                                    <thead>
                                    <tr>
                                       <th>
                                          <!-- .dropdown -->
                                          <div id="email-dd" class="dropdown">
                                             <button class="btn btn-primary btn-sm rounded-2 dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fa fa-envelope"></i>
                                             </button>
                                             <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                                <li><button class="dropdown-item" type="button">Tous</button></li>
                                                <li><button class="dropdown-item" type="button">Sélection</button></li>
                                             </ul>
                                          </div>
                                          <!-- /.dropdown -->
                                       </th>
                                       <th>Nom</th>
                                       <th>Prénom</th>
                                       <th>Rôle</th>
                                       <th></th>
                                    </tr>
                                    </thead>
                                    <!-- /thead -->
                                    <!-- tbody -->
                                    <tbody>
                                    {% for user in users %}
                                       
                                       <tr>
                                          <td>
                                             <input type="checkbox" id="ckb1">
                                          </td>
                                          <td> {{ user.nomEval }} </td>
                                          <td> {{ user.prenomEval }} </td>
                                          <td>  
                                             {% for role in user.roles %}
                                                {% if role == "ROLE_USER" %}
                                                   Utilisateur
                                                {% elseif role == "ROLE_EVALUATOR" %}
                                                   Evaluateur
                                                {% elseif role == "ROLE_ADMIN" %}
                                                   Admin
                                                {% elseif role == "ROLE_SUPER_ADMIN" %}
                                                   Super Admin
                                                {% endif %}
                                             {% endfor %}
                                          </td>
                                          <td>
                                             <ul class="list-inline mb-0 mr-2 justify-content-end">
                                                <li class="list-inline-item">
                                                   <button class="btn btn-success btn-sm rounded-2" type="button">
                                                      <i class="fa fa-edit"></i>
                                                      Modifier
                                                   </button>
                                                </li>
                                                <li class="list-inline-item">
                                                   <button class="btn btn-danger btn-sm rounded-2" type="button" data-bs-toggle="modal" data-bs-target="#delete-{{ user.idEval }}">
                                                      <i class="fa fa-trash"></i>
                                                      Supprimer
                                                   </button>

                                                   <!-- Modal -->
                                                   <div class="modal fade" id="delete-{{ user.idEval }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                   <div class="modal-dialog">
                                                      <div class="modal-content">
                                                         <div class="modal-header">
                                                         <h5 class="modal-title text-danger" id="exampleModalLabel">Attention !! </h5>
                                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                         </div>
                                                         <div class="modal-body">
                                                         Vous êtes sur le point de supprimer : 
                                                         <p class="h5 mt-3"> {{ user.nomEval }}  {{ user.prenomEval }} </p>
                                                         <p>Cette action est irréversible, souhaitez vous continuer ?</p>
                                                         </div>
                                                         <div class="modal-footer">
                                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                                                         <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i> Supprimer</button>
                                                         </div>
                                                      </div>
                                                   </div>
                                                   </div>

                                                </li>
                                             </ul>
                                          </td>
                                       </tr>
                                    {% endfor %}
                                    
                                    </tbody>
                                    <!-- /tbody -->
                                 </table>
                                 <!-- /.table -->
                                 {{ knp_pagination_render(users,'pagination.html.twig') }}
                              </div>
                              <!-- /.table-responsive -->
                           </div>
                           <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                     </div>
                     <!-- /.tab-pane -->
                     <!-- .tabe-pane -->
                     <div class="col-md-10 tab-pane fade" id="nav-list" role="tabpanel" aria-labelledby="nav-list-tab">
                        <!-- .card -->
                        <div class="card card-fluid">
                           <!-- .card-header -->
                           <div class="card-header">
                              Tous les évaluateurs
                           </div>
                           <!-- /.card-header -->
                           <!-- .card-body -->
                           <div class="card-body">
                              <!-- form-group -->
                              <div class="form-group">
                                 <!-- .input-group -->
                                 <div class="input-group has-clearable">
                                    <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times-circle"></i></span></button>
                                    <div class="input-group-prepend">
                                       <span class="input-group-text"><i class="fas fa-search" aria-hidden="true"></i></span>
                                    </div>
                                    <input id="table-search2" type="text" class="form-control" placeholder="Recherche">
                                 </div>
                                 <!-- /.input-group -->
                              </div>
                              <!-- /.form-group -->
                              <!-- .table-responsive -->
                              <div class="table-responsive">
                                 <!-- .table -->
                                 <table class="table">
                                    <!-- thead -->
                                    <thead>
                                    <tr>
                                       <th>Nom</th>
                                       <th>Prénom</th>
                                       <th></th>
                                    </tr>
                                    </thead>
                                    <!-- /thead -->
                                    <!-- tbody -->
                                    <tbody>
                                    <tr>
                                       <td>BAILLON</td>
                                       <td>Frédéric</td>
                                       <td>
                                          <ul class="list-inline mb-0 mr-2 justify-content-end">
                                             <li class="list-inline-item">
                                                <button class="btn btn-success btn-sm rounded-2" type="button">
                                                   <i class="fa fa-edit"></i>
                                                   Modifier
                                                </button>
                                             </li>
                                             <li class="list-inline-item">
                                                <button class="btn btn-danger btn-sm rounded-2" type="button">
                                                   <i class="fa fa-trash"></i>
                                                   Supprimer
                                                </button>
                                             </li>
                                          </ul>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>BOUBEL</td>
                                       <td>Maxime</td>
                                       <td>
                                          <ul class="list-inline mb-0 mr-2 justify-content-end">
                                             <li class="list-inline-item">
                                                <button class="btn btn-success btn-sm rounded-2" type="button">
                                                   <i class="fa fa-edit"></i>
                                                   Modifier
                                                </button>
                                             </li>
                                             <li class="list-inline-item">
                                                <button class="btn btn-danger btn-sm rounded-2" type="button">
                                                   <i class="fa fa-trash"></i>
                                                   Supprimer
                                                </button>
                                             </li>
                                          </ul>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>BRUNELLE</td>
                                       <td>Quentin</td>
                                       <td>
                                          <ul class="list-inline mb-0 mr-2 justify-content-end">
                                             <li class="list-inline-item">
                                                <button class="btn btn-success btn-sm rounded-2" type="button">
                                                   <i class="fa fa-edit"></i>
                                                   Modifier
                                                </button>
                                             </li>
                                             <li class="list-inline-item">
                                                <button class="btn btn-danger btn-sm rounded-2" type="button">
                                                   <i class="fa fa-trash"></i>
                                                   Supprimer
                                                </button>
                                             </li>
                                          </ul>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>CHELGHOUM</td>
                                       <td>Kamel</td>
                                       <td>
                                          <ul class="list-inline mb-0 mr-2 justify-content-end">
                                             <li class="list-inline-item">
                                                <button class="btn btn-success btn-sm rounded-2" type="button">
                                                   <i class="fa fa-edit"></i>
                                                   Modifier
                                                </button>
                                             </li>
                                             <li class="list-inline-item">
                                                <button class="btn btn-danger btn-sm rounded-2" type="button">
                                                   <i class="fa fa-trash"></i>
                                                   Supprimer
                                                </button>
                                             </li>
                                          </ul>
                                       </td>
                                    </tr>
                                    </tbody>
                                    <!-- /tbody -->
                                 </table>
                                 <!-- /.table -->
                              </div>
                              <!-- /.table-responsive -->
                           </div>
                           <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                     </div>
                     <!-- /.tab-pane -->
                     <!-- .tab-pane -->
                     <div class="col-md-10 tab-pane fade" id="nav-addform" role="tabpanel" aria-labelledby="nav-list-tab">
                        <!-- .card -->
                        <div class="card card-fluid">
                           <!-- .card-header -->
                           <div class="card-header"> 
                              Formulaire d'ajout
                           </div>
                           <!-- /.card-header -->
                           <!-- .card-body -->
                           <div class="card-body">
                              <!-- .form -->
                              <form class="form" method="POST">
                                 <!-- .form-group -->
                                 <div class="form-group">
                                    <label for="tf1">Nom</label>
                                    <input type="text" class="form-control w-90" id="tf1">
                                 </div>
                                 <!-- /.form-group -->
                                 <!-- .form-group -->
                                 <div class="form-group">
                                    <label for="tf2">Prénom</label>
                                    <input type="text" class="form-control w-90" id="tf2">
                                 </div>
                                 <!-- /.form-group -->
                                 <!-- .form-group -->
                                 <div class="form-group">
                                    <label for="tf3">Adresse e-mail</label>
                                    <input type="email" class="form-control w-90" id="tf3">
                                 </div>
                                 <!-- /.form-group -->
                                 <!-- .form-group -->
                                 <div class="form-group">
                                    <label for="tf4">Identifiant</label>
                                    <input type="text" class="form-control w-90" id="tf4">
                                 </div>
                                 <!-- /.form-group -->
                                 <!-- .form-group -->
                                 <div class="form-group" id="inputPassword">
                                    <label for="control-label">Mot de passe</label>
                                    <i class="far fa-eye" id="togglePassword"></i>
                                    <input type="password" class="form-control" id="password" name="password" data-toggle="password">
                                 </div>
                                 <!-- /.form-group -->
                                 <!-- .form-group -->
                                 <div class="form-group switcher">
                                    <span id="switcher-label">Droits administrateur</span> </br>
                                    <label class="switcher-control">
                                       <input type="checkbox" class="form-control w-75 switcher-input">
                                       <span class="switcher-indicator"></span>
                                    </label>
                                 </div>
                                 <!-- /.form-group -->
                                 <!-- .form-actions -->
                                 <div class="form-actions">
                                    <button class="btn btn-primary" type="submit" >Ajouter</button>
                                 </div>
                                 <!-- /.form-actions -->
                              </form>
                              <!-- /.form -->
                           </div>
                           <!-- /.card-body -->   
                        </div>
                        <!-- /.card -->
                     </div>
                     <!-- /.tab-pane-->   
                  </div>
                  <!-- /.tab-content -->
{% endblock %}
